{% if title =='Ressources' or title =='Rejoindre la campagne !'  %}
        {% if title =='Ressources' %}
        <div class="bloc-recherche-filtre bloc-recherche-filtre-autre bloc-recherche-filtre-autre-ressource">
                <a href="">
                    <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                </a>
                  <svg class="open-menu" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <circle cx="30" cy="30" r="29.5" stroke="#2D0F0C" stroke-opacity="0.4"/>
                       <line x1="41.5" y1="38.5" x2="18.5" y2="38.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                       <line x1="41.5" y1="30.5" x2="18.5" y2="30.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                       <line x1="41.5" y1="22.5" x2="18.5" y2="22.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                  </svg>
                
                
             </div>
        <div class="header-new-ressource">
                <a href="">
                    <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                </a>
             <h1>Ressources</h1>
        </div>
        <div class="container-fluid container-des-ressources">
             {{ content|raw }}
        </div>
         {% else %}
                <div class="bloc-recherche-filtre bloc-recherche-filtre-autre bloc-recherche-filtre-autre-ressource">
                        <a href="">
                            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                        </a>
                          <svg class="open-menu" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <circle cx="30" cy="30" r="29.5" stroke="#2D0F0C" stroke-opacity="0.4"/>
                               <line x1="41.5" y1="38.5" x2="18.5" y2="38.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                               <line x1="41.5" y1="30.5" x2="18.5" y2="30.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                               <line x1="41.5" y1="22.5" x2="18.5" y2="22.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
                          </svg>
                </div>
                <div class="container-fluid container-suivre-campagne">
                        <div class="row">
                                <div class="col-lg-5">
                                         <a href="">
                                            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                                         </a>
                                </div>
                                <div class="col-lg-7">
                                        <h1>Rejoindre la campagne</h1>
                                        {{ content|raw }}
                                </div>
                        </div>
                </div>


                
         {% endif %}
{% else %}
<div class="bloc-recherche-filtre bloc-recherche-filtre-autre">
        <a href="">
            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
        </a>
          <svg class="open-menu" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
               <circle cx="30" cy="30" r="29.5" stroke="#2D0F0C" stroke-opacity="0.4"/>
               <line x1="41.5" y1="38.5" x2="18.5" y2="38.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="30.5" x2="18.5" y2="30.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="22.5" x2="18.5" y2="22.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
          </svg>
        
        
     </div>

<div class="container-fluid">



        <div class="bloc-right-fixed noPrint">
          <div class="new-share">
                  <div>
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="27" cy="27" r="27" fill="#FFD500"/>
                            <path d="M33 30L39 24L33 18" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35 38H16C15.7348 38 15.4804 37.8946 15.2929 37.7071C15.1054 37.5196 15 37.2652 15 37V22" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.3789 33C21.0449 30.424 22.5478 28.1423 24.6514 26.5133C26.755 24.8843 29.3402 24.0002 32.0008 24H39.0008" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
            <a href="https://www.facebook.com/share.php?u={{ current_url }}" target="_blank">
              <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="27" cy="27" r="27" fill="#5969FF"/>
              <path d="M27 39C33.6274 39 39 33.6274 39 27C39 20.3726 33.6274 15 27 15C20.3726 15 15 20.3726 15 27C15 33.6274 20.3726 39 27 39Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M32 22.0001H30C29.2044 22.0001 28.4413 22.3162 27.8787 22.8788C27.3161 23.4414 27 24.2045 27 25.0001V39.0001" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23 29.0001H31" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>      
            </a>
            <a href="http://twitter.com/intent/tweet?status={{ current_url }}" target="_blank">
              <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="27" cy="27" r="27" fill="#5CCEFF"/>
              <path d="M37.5006 20.687C36.6841 21.8559 35.6655 22.8696 34.4926 23.6804L34.4926 23.6804C34.4183 25.7308 33.8198 27.7279 32.7541 29.4812C31.6884 31.2344 30.1911 32.6853 28.4052 33.6952C26.6192 34.7051 24.6042 35.2404 22.5525 35.25C20.5008 35.2595 18.4808 34.743 16.6855 33.7498L16.6862 33.7487C19.0305 33.7162 21.3134 32.9943 23.2502 31.673L23.2502 31.6731C21.1769 30.26 19.5978 28.2335 18.7343 25.8778C17.8708 23.522 17.7662 20.9551 18.4352 18.5368L18.4351 18.5369C19.3932 20.0124 20.6641 21.2591 22.1576 22.1888C23.6512 23.1185 25.3309 23.7084 27.0778 23.9167L27.0775 23.9167C26.8936 23.0398 27.0296 22.126 27.461 21.3407C27.8924 20.5553 28.5907 19.9504 29.4295 19.6353C30.2683 19.3203 31.1922 19.3159 32.034 19.623C32.8757 19.93 33.5797 20.5283 34.0186 21.3095L34.0186 21.3099C35.2036 21.2746 36.3769 21.0647 37.5006 20.687" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>   
            </a> 
            <a href="https://api.whatsapp.com/send?text={{ current_url }}" target="_blank">
              <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="27" cy="27" r="27" fill="#00EA88"/>
              <path d="M31.553 29.0468C31.4972 28.9538 31.348 28.8983 31.1234 28.7865C30.8996 28.6748 29.7986 28.1355 29.5929 28.0613C29.3879 27.987 29.2387 27.9495 29.0887 28.173C28.9395 28.3958 28.51 28.8983 28.3796 29.0468C28.2493 29.1953 28.1181 29.214 27.8943 29.1023C27.6705 28.9905 26.9486 28.7558 26.0933 27.996C25.4279 27.405 24.978 26.6753 24.8476 26.4518C24.7172 26.229 24.834 26.1083 24.9456 25.9973C25.0465 25.8975 25.1694 25.737 25.2817 25.6065C25.3955 25.4775 25.4324 25.3845 25.5077 25.2353C25.5823 25.0868 25.5454 24.9563 25.4889 24.8445C25.4324 24.7335 24.9848 23.6363 24.7986 23.19C24.6163 22.7558 24.4316 22.8143 24.2945 22.8075L23.8649 22.8C23.7157 22.8 23.4731 22.8555 23.2681 23.079C23.0631 23.3025 22.4844 23.841 22.4844 24.9383C22.4844 26.0355 23.2869 27.0953 23.3985 27.2438C23.5108 27.3923 24.9772 29.6438 27.2236 30.609C27.7579 30.8385 28.1754 30.9758 28.5002 31.0785C29.0367 31.248 29.5251 31.224 29.9109 31.167C30.3412 31.1033 31.2357 30.6278 31.4226 30.1073C31.6095 29.586 31.6095 29.1398 31.553 29.0468Z" fill="white"/>
              <path d="M19.2595 31.5917C18.1408 29.7059 17.7491 27.4766 18.1577 25.3224C18.5664 23.1682 19.7475 21.2373 21.4791 19.8923C23.2107 18.5473 25.3738 17.8806 27.5621 18.0176C29.7504 18.1545 31.8135 19.0856 33.3639 20.636C34.9144 22.1864 35.8455 24.2495 35.9824 26.4379C36.1194 28.6262 35.4527 30.7893 34.1077 32.5209C32.7627 34.2525 30.8318 35.4335 28.6776 35.8422C26.5234 36.251 24.2941 35.8592 22.4083 34.7406L22.4083 34.7405L19.2986 35.629C19.17 35.6657 19.0338 35.6674 18.9043 35.6338C18.7748 35.6003 18.6566 35.5327 18.5619 35.4381C18.4673 35.3434 18.3997 35.2252 18.3662 35.0957C18.3326 34.9662 18.3343 34.83 18.371 34.7014L19.2595 31.5916L19.2595 31.5917Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <svg onclick="myFunction()" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="27" cy="27" r="27" fill="#2D0F0C"/>
            <path d="M23.8184 30.1811L30.1823 23.8172" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M28.5909 31.7728L25.9392 34.4245C25.0953 35.2682 23.9508 35.7421 22.7574 35.742C21.5641 35.7419 20.4197 35.2678 19.5758 34.4239C18.732 33.5801 18.2579 32.4357 18.2578 31.2423C18.2577 30.049 18.7316 28.9045 19.5753 28.0605L22.2269 25.4089" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M31.7722 28.5904L34.4238 25.9388C35.2675 25.0948 35.7414 23.9503 35.7413 22.7569C35.7412 21.5636 35.2671 20.4192 34.4233 19.5753C33.5795 18.7315 32.435 18.2574 31.2417 18.2573C30.0483 18.2572 28.9038 18.7311 28.0599 19.5748L25.4082 22.2264" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
           <!-- The text field -->
            <input type="text" value="{{ current_url }}" id="myInput">

          
           <div class="new-copy">
            <svg onclick="printDiv('printableArea')" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="27" cy="27" r="27" fill="#FFD500"/>
            <path d="M34.5 27C35.3284 27 36 26.3284 36 25.5C36 24.6716 35.3284 24 34.5 24C33.6716 24 33 24.6716 33 25.5C33 26.3284 33.6716 27 34.5 27Z" fill="#2D0F0C"/>
            <path d="M19 21V16H35V21" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M35 30H19V38.5H35V30Z" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 33H14.5V23C14.5 21.8954 15.47 21 16.6667 21H37.3333C38.53 21 39.5 21.8954 39.5 23V33H35" stroke="#2D0F0C" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </div>
        </div>







    <div class="row">
        <div id="printableArea" class="col-lg-6 offset-lg-3">
          {% if (section_name|default(null)) == 'Actualités' %}
            <div class="top-actualite col-md-12">
              <div class="top-actualite-flex">
                  {% if section_name|default(null) %}
                      <p>
                          {% if section_url|default(null) %}
                              <a href="">
                                  ← Toutes les ressources
                              </a>
                          {% else %}
                              {{ section_name }}
                          {% endif %}
                      </p>
                  {% endif %}
                  {% if video|default(null) %}
                  
                  
                  {% elseif image|default(null) %}
                      <img src="{{ image }}" class="content-splash-image" />
                  {% endif %}
              </div>
                <h1 class="content-splash-title">
                    {{ title }}
                </h1>
                                    <div class="temps-lecture">
                                            <span>Temps de lecture <strong id="time"></strong> <strong>minutes</strong></span>
                                    </div>
                  {% if video|default(null) %}                
                            {% if 'youtube' == video[0] %}
                                <div class="content-splash-video"
                                     style="background-image: url('https://i1.ytimg.com/vi/{{ video[1] }}/hqdefault.jpg')">
                                    <iframe width="1110" height="705" frameborder="0"
                                            src="https://www.youtube-nocookie.com/embed/{{ video[1] }}"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            {% elseif 'facebook' == video[0] %}
                                <div class="content-splash-video">
                                    <iframe width="1110" height="705" frameborder="0"
                                            src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/watch/?v={{ video[1] }}&show_text=false"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            {% endif %}
                  {% endif %}



                


            </div>          
          {% else %}
            <div class="">
                {% if section_name|default(null) %}
                    <p>
                        {% if section_url|default(null) %}
                            <a href="{{ section_url }}">
                                ← Toutes les ressources
                            </a>
                        {% else %}
                            {{ section_name }}
                        {% endif %}
                    </p>
                {% endif %}

                <h1 class="content-splash-title">
                    {{ title }}
                </h1>





                {% if video|default(null) %}
                            {% if 'youtube' == video[0] %}
                                <div class="content-splash-video"
                                     style="background-image: url('https://i1.ytimg.com/vi/{{ video[1] }}/hqdefault.jpg')">
                                    <iframe width="1110" height="705" frameborder="0"
                                            src="https://www.youtube-nocookie.com/embed/{{ video[1] }}"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            {% elseif 'facebook' == video[0] %}
                                <div class="content-splash-video">
                                    <iframe width="1110" height="705" frameborder="0"
                                            src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/watch/?v={{ video[1] }}&show_text=false"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            {% endif %}
                {% elseif image|default(null) %}
                    <img src="{{ image }}" class="content-splash-image" />
                {% endif %}
            </div>
        {% endif %}

            <div id="contenu-article" class="content-publication">
                {{ content|raw }}
            </div>

        </div>       
    </div>
</div>
{% endif %}
