<div class="menu-mobile-open hide">
    <div class="menu-mobile-open-header">
                <a href="">
                    <img class="logo-cgt-fapt-mobile" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                </a>
                <img class="close-menu" src="{{ (citipo_theme_asset_url('assets/close-menu.png')) }}">
    </div>
    <div class="menu-mobile-open-links">
        <div class="div-la-tracoteque">
            <a href="https://cgtfapt-laposte.fr/pages/YVcHaxW3zefCrfw6368zn/ressources">
                <img class="" src="{{ (citipo_theme_asset_url('assets/tracoteque.png')) }}">
                <span>La Tractotèque</span>
            </a>
        </div>
        <a class="lien-noir-mobile" href="/legal">Mentions légales</a>
    </div>  
</div>


{{ header_content|raw }}

<main>
    {{ page_content|raw }}
</main>

{{ footer_content|raw }}
