<div class="menu-mobile-open hide">
    <div class="menu-mobile-open-header">
                <a href="">
                    <img class="logo-cgt-fapt-mobile" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
                </a>
                <img class="close-menu" src="{{ (citipo_theme_asset_url('assets/close-menu.png')) }}">
    </div>
    <div class="menu-mobile-open-links">
        <a class="lien-blanc-mobile" href="/forms/6F3Nbxq4QUFsb5HPZp64wo/demander-une-ressource">Demander une ressource</a>
        <a class="lien-blanc-mobile" href="/forms/6VBLOke7C1zwKGjV5CrsXo/ajouter-une-ressource">Ajouter une ressource</a>
        <a class="lien-noir-mobile" href="/legal">Mentions légales</a>
    </div>  
</div>


{{ header_content|raw }}

<main>
    {{ page_content|raw }}
</main>

{{ footer_content|raw }}
